/* ============================= */
/*  FONTS DEEZER PRODUCT         */
/* ============================= */
@font-face {
    font-family: 'Deezer Product';
    src: url('../fonts/DeezerProduct-Light.eot');
    src: local('Deezer Product Light'), local('DeezerProduct-Light'),
        url('../fonts/DeezerProduct-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DeezerProduct-Light.woff2') format('woff2'),
        url('../fonts/DeezerProduct-Light.woff') format('woff'),
        url('../fonts/DeezerProduct-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Deezer Product';
    src: url('../fonts/DeezerProduct-Regular.eot');
    src: local('Deezer Product Regular'), local('DeezerProduct-Regular'),
        url('../fonts/DeezerProduct-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DeezerProduct-Regular.woff2') format('woff2'),
        url('../fonts/DeezerProduct-Regular.woff') format('woff'),
        url('../fonts/DeezerProduct-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Deezer Product';
    src: url('../fonts/DeezerProduct-Medium.eot');
    src: local('Deezer Product Medium'), local('DeezerProduct-Medium'),
        url('../fonts/DeezerProduct-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DeezerProduct-Medium.woff2') format('woff2'),
        url('../fonts/DeezerProduct-Medium.woff') format('woff'),
        url('../fonts/DeezerProduct-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Deezer Product';
    src: url('../fonts/DeezerProduct-Bold.eot');
    src: local('Deezer Product Bold'), local('DeezerProduct-Bold'),
        url('../fonts/DeezerProduct-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DeezerProduct-Bold.woff2') format('woff2'),
        url('../fonts/DeezerProduct-Bold.woff') format('woff'),
        url('../fonts/DeezerProduct-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Deezer Product';
    src: url('../fonts/DeezerProduct-Extrabold.eot');
    src: local('Deezer Product Extrabold'), local('DeezerProduct-Extrabold'),
        url('../fonts/DeezerProduct-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DeezerProduct-Extrabold.woff2') format('woff2'),
        url('../fonts/DeezerProduct-Extrabold.woff') format('woff'),
        url('../fonts/DeezerProduct-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* ============================= */
/*  CSS Normal                   */
/* ============================= */
body {
  margin: 0;
  background-color: #0f0d13;
  font-family: sans-serif ;
}

p,h1,h1,h3,nav {
    font-family: 'Deezer Product';
}

p {
    font-size: 28px;
}

h3{
    font-size: 40px
}

div {
    font-size: 20px;
}

nav {
  background: #a238ff ;
  height: 100px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px #000000;
}

nav a.active {
    font-weight: bold;
    text-decoration: underline;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 40px;
  padding: 0 40px;
  font-weight: 500;
  transition: 0.3s ease;
}

nav a:hover {
  color: #000000;
  font-weight: 700;
  text-decoration: underline;
  transform: translateY(-2px);
}

main {
  padding: 40px;
  font-size: 28px;
  color: #e0e0e0;
}

label{
    font-size: 30px
}

#chart {
    flex: 1;
    width: 100%;
    height: 60vh;
    min-height: 300px;
}

.chart-container {
    flex: 0 0 65%;
}

#controls {
    flex: 0 0 30%;
    border-left: 1px solid #ccc;
    padding-left: 15px;
}

.line {
    fill: none;
    stroke-width: 2;
}

#tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    font-size: 14px;
    transition: opacity 0.3s;
    z-index: 1000;
}

#yearSlider {
    cursor: pointer;
    height: 6px;
    border-radius: 3px;
    outline: none;
    -webkit-appearance: none;
    background: linear-gradient(to right, #A238FF 0%, #A238FF var(--value), #e0e0e0 var(--value), #e0e0e0 100%);
}

/* Curseur blanc pour Chrome/Safari */
#yearSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* Curseur blanc pour Firefox */
#yearSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Track VIOLET qui se remplit pour Firefox */
#yearSlider::-moz-range-track {
    background: #e0e0e0;
    border-radius: 3px;
    height: 6px;
}

#yearSlider::-moz-range-progress {
    background: #A238FF;
    border-radius: 3px;
    height: 6px;
}