.clustering-page main {
    margin: 0 auto;
}

.clustering-page h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.clustering-page .clustering-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-top: 20px;
    align-items: stretch;
}

.clustering-page .card-viz {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.clustering-page .card-viz h3 {
    margin-top: 0;
    font-size: 28px;
}

.clustering-page #scatter-container {
    width: 100%;
    height: 500px;
}

.clustering-page #radar-legend {
    font-size: 14px;
    color: #ccc;
}

.clustering-page #radar-container {
    display: center;
    justify-content: center;
}