@font-face {
    font-family: 'Deezer Product';
    src: url('../../assets/fonts/DeezerProduct-Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Deezer Product';
    src: url('../../assets/fonts/DeezerProduct-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Deezer Product';
    src: url('../../assets/fonts/DeezerProduct-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Deezer Product';
    src: url('../../assets/fonts/DeezerProduct-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Deezer Product';
    src: url('../../assets/fonts/DeezerProduct-Extrabold.woff2') format('woff2');
    font-weight: 800;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0f0d13;
    font-family: sans-serif;
    color: #e0e0e0;
}

nav,
nav a,
h1,
h2,
h3 {
    font-family: 'Deezer Product';
}

p {
    font-size: 16px;
    line-height: 1.5;
}

h3 {
    font-size: 40px;
    color: #e0e0e0;
}

h1,
h2 {
    color: #e0e0e0;
}

label {
    font-size: 30px;
}

nav {
    background: #A238FF;
    height: 100px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 12px #000;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    padding: 0 40px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav a:hover {
    color: #000;
    font-weight: 700;
    text-decoration: underline;
    transform: translateY(-2px);
}

nav a.active {
    font-weight: bold;
    text-decoration: underline;
}

main {
    padding: 40px;
}

main ul {
    margin: 16px 0 16px 24px;
    padding: 0;
}

main li {
    margin-bottom: 8px;
    font-size: 16px;
}